@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: hsl(207deg 90% 54%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    padding: 20px;
    background-color: white;
    gap: 20px;
    border-radius: 5px;
}

h1, h4, .log, .social {
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    border-bottom: 1px solid rgb(190, 189, 189);
    gap: 8px;
    padding: 15px;
    color: rgb(190, 189, 189);
}

input {
    border: none;
    outline: none;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border:  none;
    background-color: hsl(207deg 90% 54%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.log {
    font-size: 12px;
}

.log a {
    text-decoration: none;
    font-weight: 600;
    color: hsl(207deg 90% 54%);
}

h4 {
    color: rgb(87, 87, 87); 
    border-top: 1px dotted rgb(190, 189, 189);
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.social {
    font-size: 30px;
}